SECRET_KEY=change-me
STRAVA_CLIENT_ID=your_client_id
STRAVA_CLIENT_SECRET=your_client_secret
STRAVA_REDIRECT_URI=http://13.51.255.182:8080/api/auth/strava/callback
MOBILE_AUTH_REDIRECT_URI=stravaapp://auth
